<plist version="1.0">
   <dict>
      <key>CFBundleDisplayName</key>
      <string>Application</string>
      <key>CFBundleDevelopmentRegion</key>
      <string>English</string>
      <key>CFBundleExecutable</key>
      <string>${EXECUTABLE_NAME}</string>
      <key>CFBundleIconFiles</key>
      <array>
         <string>Icon-76.png</string>
         <string>Icon-76@2x.png</string>
         <string>Icon-60@2x.png</string>
         <string>Icon-60@3x.png</string>
      </array>
      <key>CFBundleIdentifier</key>
      <string>com.esenthel.test</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundlePackageType</key>
      <string>APPL</string>
      <key>CFBundleSignature</key>
      <string>????</string>
      <key>CFBundleVersion</key>
      <string>1</string>
      <key>CFBundleShortVersionString</key>
      <string>1</string>
      <key>LSRequiresIPhoneOS</key>
      <true/>
      <key>NSMainNibFile</key>
      <string>iOS</string>
      <key>UILaunchStoryboardName</key>
      <string>iOS</string>
      <key>UIStatusBarHidden</key>
      <true/>
      <key>UIRequiresFullScreen</key>
      <true/>
      <key>UISupportedInterfaceOrientations</key>
      <array>
         <string>UIInterfaceOrientationPortrait</string>
         <string>UIInterfaceOrientationPortraitUpsideDown</string>
         <string>UIInterfaceOrientationLandscapeLeft</string>
         <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
      <key>UIViewControllerBasedStatusBarAppearance</key>
      <false/>
      <key>NSAppTransportSecurity</key>
      <dict>
         <key>NSAllowsArbitraryLoads</key>
         <true/>
      </dict>
      <key>NSLocationAlwaysUsageDescription</key>
      <string></string>
      <key>NSLocationWhenInUseUsageDescription</key>
      <string></string>
      <key>FacebookAppID</key>
      <string>0</string>
      <key>FacebookDisplayName</key>
      <string>Esenthel</string>
      <key>ChartboostAppID</key>
      <string></string>
      <key>ChartboostAppSignature</key>
      <string></string>
      <key>CFBundleURLTypes</key>
      <array>
         <dict>
            <key>CFBundleURLSchemes</key>
            <array>
               <string>fb0</string>
            </array>
         </dict>
      </array>
   </dict>
</plist>
